@import "../../node_modules/node-normalize-scss/_normalize";

@import "variables/variables";
@import "libs/mixins/mixins";
@import "libs/libs";
@import "global/fonts";
@import "blocks/base";
@import "blocks/main-header";
@import "blocks/main-menu";
@import "blocks/logo";
@import "blocks/burger-button";
@import "blocks/container-wrap";
@import "blocks/info-section";
@import "blocks/wrapp-container";
@import "blocks/feature";
@import "blocks/main-features";
@import "blocks/button";
@import "blocks/search-hotel";






