@mixin border {
  outline:1px solid darkgreen;
}

/*1) xs-устройство(до 576px)
2) sm-устройство(больше или равно 576px)
@media(min-width:576px){}
*/
//3) md-устройство(больше или равнр 768px)
//@media(min-width: 768px){}

//4)lg-устройства(больше или равно 992px) {}
//@media(min-width: 992px){}

//5) xl устройства(больше или равно 1200px) {}
//@media(min-width: 1200px){}



@mixin responsive($breakpoint) {
  @if $breakpoint == $sm {
    @media(min-width:$sm){ @content }
  }
  @if $breakpoint == $md {
    @media(min-width:$md){ @content }
  }
  @if $breakpoint == $lg {
    @media(min-width:$lg){ @content }
  }
  @if $breakpoint == $xl {
    @media(min-width:$xl){ @content }
  }

}



@mixin container() {
  padding-left: 20px;
  padding-right: 20px;
}