:root {
    --bodyColor:#f1f1f1;
    --colorBorders:0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px = 1rem; 10/16px = 62.5%;

  @include responsive(tab-land) {
    /*font-size: 56.25%; // 9px = 1rem; 9/16px = 56.25%;*/
  }

  @include responsive(tab-port) {
   /* font-size: 50%; // 8px*/
  }

  @include responsive(phone) {
  /*  font-size: 43.75%; // 7px = 1rem*/
  }

  @include responsive(big-desktop) {
   /* font-size: 75%; // 12px = 1rem*/
  }
}

body {
  font-family:$basic-font-family;
  margin:auto;
  text-align: center;

  background-color:var(--bodyColor);
  box-shadow:var(--colorBorders); //добавляет тень
}

.container {
  margin:0 auto;
  max-width: 1200px;
  width: 100%;
}