:root {
  --black:#000;
  --background-header: #fff;
  --main-bg-color:#81b3b2;
  --color-hover: #669ec0;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  line-height: 26px;
  color:var(--black);
  background-color:var(--background-header);

  @include container;
  &__title {
    font-size: 21px;
    font-weight: 700;
    padding: 0 0 15px 0;
  }
  &__copyright {
    padding: 15px 0 0 0;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 37px;
    // margin-bottom: 23px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  &__copyright-icon {
    width: 27px;
    height: 34px;
    font-size: 0;
    margin-left: 11px;
    color:var(--black);
    &:hover {
      color:var(--main-bg-color);
    }
    &:active {
      color: rgba(0, 0, 0, .3);
    }
  }
  &__copyright-image {
    fill: currentColor;
  }
}
@media #{$tablet-widths} {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 120px;
    width: 768px;
    padding: 0 60px;
    &__title {
      margin: 0;
    }
    &__copyright {
      margin: 0;
    }
  }
}
@media #{$desktop-widths} {
  .main-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__copyright {
      &--form-margin {
        margin-right: 76px;
      }
    }
  }
}
