:root {
  --main-bg-color:#81b3b2;
  --disabled:#e5e5e5;
  --color-item:#9ac2db;
  --color-hover:#669ec0;
  --menu-bottom-border-color:#678fa8;
}

.main-menu {
  display: none;
  min-width: 320px;
  position: relative;
  &--no-js {
    display: block;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__modal-content-show {
    display: block;
    animation: bounce 0.6s;
  }
  &__item {
    display: flex;
    height: 56px;
    position: relative;
    background-color:var(--main-bg-color);
    border-top: 1px solid var(--color-item);
    border-bottom: 1px solid var(--menu-bottom-border-color);
    font-family: $basic-font-family;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &:hover {
      background-color:var(--color-hover);
    }
  }
  &__cross-button {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/icon-cross.svg");
    cursor: pointer;
  }
  &__link {
    text-decoration: none;
    color: var(--background-header);

    &:active {
      color: rgba(255, 255, 255, .3);
    }
    &--disabled {

      :disabled {
        color: var(--disabled);
      }
    }
  }
}

@media #{$tablet-widths} {
  .main-menu {
    display: block;
    &__list {
      display: flex;
      width: 768px;
    }
    &__item {
      min-height: 56px;
      width: 20%;
      background-color:var(--background-header);
      border: 0;
      font-size: 14px;
      line-height: 26px;
      &:hover {
        background-color: transparent;
      }
      &--third {
        margin-left: auto;
      }
      &--after-cross-button::after {
        display: none;
      }
    }
    &__link {
      display: block;
      padding: 15px 0;
      color: #000000;

      &:hover {
        color:var(--main-bg-color);
      }

      &:active {
        color: rgba(0, 0, 0, .3);
      }

      &--active {
        color: #766357;

        &:hover {
          color: #604e43;
        }

        &:active {
          color: rgba(118, 99, 87, .3);
        }
      }
    }
  }
}

@media #{$desktop-widths} {
  .main-menu__list {
    width: 1200px;
    &__item {
      &--main {
        margin-left: 91px;
      }
      &--photo-video {
        margin-left: 161px;
      }
      &--feedback-form {
        margin-left: auto;
      }
      &--html-academy {
        margin-left: 137px;
        margin-right: 70px;
      }
      &--after-cross-button::after {
        display: none;
      }
    }
  }

}
