:root {
  --main-bg-color: #81b3b2;
  --menu-bottom-border: #678fa8;
  --color-hover:#669ec0;
  --black: #000;
  --link-hover:#81b3d2;
  --link-active-hover:#766357;
  --item-border-top:#9ac2db;
}

.main-menu {
  display: none;
  min-width: 320px;

  &--no-js {
    display: block;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__modal-content-show {
    display: block;
    animation: bounce 0.6s;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    position: relative;
    background-color:var(--main-bg-color);
    border-top: 1px solid var(--item-border-top);
    border-bottom: 1px solid var( --menu-bottom-border);
    font-family: $basic-font-family;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    &:hover {
      background-color:var(--color-hover);
    }
  }
  &__cross-button {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 22px;
    height: 22px;
    background-image: url("../../img/icons/icon-cross.svg");
    cursor: pointer;
  }
  &__link {
    text-decoration: none;
    color:var(--background-color);

    &:active {
      color: rgba(255, 255, 255, .3);
    }
  }
}

@media #{$tablet-widths} {
  .main-menu {
    display: block;
    &__list {
      display: flex;
      width: 768px;
    }
    &__item {
      min-height: 56px;
      width: 20%;
      background-color:var(--background-color);
      border: 0;
      font-size: 14px;
      line-height: 26px;
      &:hover {
        background-color: transparent;
      }
      &--third {
        margin-left: auto;
      }
    }
    &__link {
      display: block;
      padding: 15px 0;
      color:var(--black);
      &:hover {
        color: #81b3d2;
      }
      &:active {
        color: rgba(0, 0, 0, .3);
      }
      &--active {
        color:var(--link-active-hover);
        &:hover {
          color:var(--link-active-hover);
        }
        &:active {
          color: rgba(118, 99, 87, .3);
        }
      }
    }
  }
}

@media #{$desktop-widths} {
  .main-menu {
    &__list {
      width: 1200px;
    }
  }
}
