:root {

  --color-hover: #669ec0;
}
.button {
  border: 0;
  background-color:var(--main-bg-color);
  color:var(--background-header);
  font-family: $basic-font-family;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color:var(--color-hover);
  }

  &:active {
    color: rgba(255, 255, 255, .3);
  }

  &:disabled {
    color:var(--background-header);
    background-color: #e5e5e5;
  }
  &__text {
    margin-left: auto;
    margin-right: auto;
  }
}


