.contact-wrap {
  //width: 100%;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
 /* &__field-label {
    display: flex;
    flex: 1;
    @include border();
  }*/
 /* &__title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 50px;
  }*/
 /* &__phone,
  &__mail{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
  }*/

}