.development {
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 37px;
    // margin-bottom: 23px;
    margin-bottom: 0;
  }
  &__image {
    // display: inline-block;
    width: 27px;
    height: 34px;
    font-size: 0;
    margin-left: 11px;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: rgba(0, 0, 0, .3);
    }
    &__icon {
      .main-footer__copyright-image {
        fill: currentColor;
      }
    }
  }
}

@include responsive($md) {
  .development {
    margin: 0;
  }
}

@include responsive($lg){
  .development {
    &--form-margin {
      margin-right: 76px;
    }
  }
}
