.main-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color:var(--white);

  &__menu-button {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 20px;
    order: 3;
  }
}


@include responsive($md){
  .main-header{
    height: 56px;
  }
  .burger-button {
    display: none;
    &__icon-bars {
      display: none;
    }

  }
}



