.main-feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include  border;
  &__advice {
    width: 33%;
    @include  border;
    height: 255px;
    margin: 3px;
  }
}